/* #aside {
    position: relative;
    float: left;
} */

#hr {
    background-color: goldenrod;
    width: 100%;
    height: 5px;
} 

/* #search {
    position: absolute;
    top: 5%; 
    right: 48.5%;
} */

#cityHighlightArea {
    max-width: 350px;
}

#fiveDayForecast {
    max-width: 200px;
}

footer {
    color: #FF3E00;
}
